* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  user-select: none;
}
html {
  scroll-behavior: smooth;
  scroll-padding-bottom: 20px;
}
body {
  background: #0a0a0a;
  font-family: 'Poppins', sans-serif;
}
section {
  padding-top: 120px;
}
.navbar {
  display: flex;
  width: 100%;
  padding: 20px;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  backdrop-filter: blur(8px);
  z-index: 999;
}
.menu {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
}
.menu a {
  position: relative;
}
.menu a:after {
  content: '';
  position: absolute;
  background-color: #8c0707;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -6px;
}
.menu a:hover:after {
  width: 100%;
  transition: 0.3s ease;
  color: #fff;
}
.menu li a {
  margin: 20px;
  text-decoration: none;
  font-size: 20px;
  padding: 10px;
  font-weight: 700;
}
.menu li a:hover {
  color: #8c0707;
  transition: 0.3s;
}
.logo {
  width: 5rem;
}
.title {
  text-decoration: none;
  font-family: 'Jolly Lodger', cursive;
  font-size: 40px;
  text-shadow: 0 0 0.25em;
}
/*                  HOME                 */
#home {
  width: 100%;
  height: 100vh;
  overflow: auto;
  position: relative;
}
#home::before {
  content: '';
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;
  display: block;
  width: 100%;
  height: 100%;
  background: url(/img/bg.gif) no-repeat center/cover;
  filter: blur(20px) opacity(30%);
}
.frase {
  text-align: center;
  font-size: 30px;
}
.btnhome {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
}
.play_area {
  text-decoration: none;
  font-family: 'Jolly Lodger', cursive;
  font-size: 40px;
  text-transform: uppercase;
  padding: 15px 30px;
  overflow: hidden;
  transition: 0.2s;
  border-radius: 15px;
  border: 3px solid #550505;
  text-shadow: 0 0 0.09em;
  box-shadow: 0 0 0.4em #8c0707;
}
.play_area:hover {
  background: #8c0707;
  box-shadow: 0 0 10px #8c0707, 0 0 40px #8c0707, 0 0 80px #8c0707;
  border: 3px solid #8c0707;
  transition: 0.3s ease-in;
  color: #0a0a0a;
}
#jogos {
  height: 100vh;
  background-color: blueviolet;
}
