* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #0a0a0a;
}
.navbar {
  display: flex;
  width: 100%;
  background: #1a1a1a;
  padding: 20px;
  align-items: center;
  justify-content: center;
}
.menu {
  display: flex;
  list-style: none;
}
.menu li a {
  margin-right: 20px;
}
